*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title, .second-title, .description, .portofolio, .about-us{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title , .titulli2 {
    color: #F4CB0E;
}
.ballina{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images01.nicepage.com/2c/aa/2caae017a61202f87bc36fab57e85a63.png');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.puntori{
    position: relative;
    top: 67px;
    width: 348px;
    height: auto;
}
.main-img{
    width: 20%;
}
.tekstet{
    width: 35%;
    user-select: none;
    line-height: 70px;
}
.title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.second-title{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
}
.underline{
    width: 100px;
    height: 5px;
    background-color: #F4CB0E;
    margin: 25px 0 ;
}
.description{
    line-height: 30px !important;
    width: 500px;
    color: white;
    font-size: 17px;
}
.buttons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.portofolio{
    background-color: #F4CB0E;
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-transform: uppercase;
}
.about-us{
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center !important;
    font-weight: 700;
}
.portofolio:hover{
    background-color: #b7970c;
    transition: 0.1s;
    cursor: pointer;
}
.about-us:hover{
    background-color: white;
    color: black;
    transition: 0.1s;
    cursor: pointer;
}

/* pjesa e vajrusit */

/* .titulli2, .titulli3,  */

.main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tekstet1{
    position: absolute;
    left: 400px;
    top: 800px;
    user-select: none;
    line-height: 50px;
}
.titulli2{
    font-weight: 1000;
    font-size: 24px;
    font-family: Roboto, sans-serif;
}
.titulli3{
    font-size: 36px;
    font-family: Roboto, sans-serif;
}
.underline1{
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #F4CB0E;
    margin-top: -200px;
    margin-left: -1210px;
}
.pershkrimi{
    position: absolute;
    font-style: italic;
    font-size: 1.5rem;
    color:#b3b3b3 !important ;
    margin-left:-770px ;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;
    word-wrap: break-word;
    margin-top: -50px;
}
.permbajtja{
    text-align: left;
    margin-left: 500px;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: -150px;
    font-family: 'Open Sans',sans-serif;
    
    
}
.read{
    color: white;
    background-color: #F4CB0E;
    width: 150px;
    height: 40px;
    margin-left: -530px;
    margin-top: 300px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}



@media screen and (max-width:700px) {
    .puntori{
        display: none;
    }
}